
#mytable{
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
}
#mytable td, #mytable th{
	padding: 10px;
	border: 1px solid #ddd;
  	
}
#mytable th{
	padding:10px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
#buttons{
	margin: 10px;
    padding: 10px;
    display: inline-block;
}
#logout{
	font-size:20px;
	float: right;
	margin: 13px;
	padding: 10px;
}