body {
	margin:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100%;
  background: url("http://www.cerc-ug.org/pic/b/14/143603_latest-hd-wallpapers-for-pc.jpg");
}
.forms{
	opacity:0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 340px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  background: black;
  margin: 10px;
  text-align: center;
}

input{
	margin: 10px;
    width: -webkit-fill-available;
    padding: 15px;
}
h1{
	color: white;
}
